#video{
    width: 100%;
    height: 500px;
    border: none;
}
.my_nav_bar{
    position: sticky;
    top:0;
    z-index:10;
}
.Travel_maindiv{
    border: 1px solid lightgrey;
}
.Travel_maindiv img{
width:100%;
}
.Travel_maindiv h5{
margin: 20px;    
}
.Travel_maindiv p{
    margin: 20px;
}
.movie_head{
    font-size:20px ;
    padding:6px 22px;
    border-radius: 10px;
    margin-bottom: 15px; 
}
.movie_head i{
    float:right;
}
.movie_text span{
    color:orange;
}
.movie_text img{
    width: 250px;
    height: 350px;
}